<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CDA | Relatório Controle Gerente</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleRelatorio.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/bootstrap/css/bootstrap.min.css') }}">

    <style>
        @page{
            size: landscape !important;
        }
    </style>
</head>
<body>
    <header>
        <div class="hearder">
            <div class="img">
                <img class="" src="{{ url_for('static', filename='img/logo6.png') }}" id="icon" alt="User Icon" />
            </div>
            <div class="titulo">
                <label>RELATÓRIO DE ENTRADA E SAÍDA DE VEÍCULOS DE VISITANTES E TERCEIROS</label>
                <label>de {{ context.de | dataLimite }} até {{ context.ate | dataLimite }}</label>
            </div>
            <div class="hora">
                <label>{{ context.hora }}</label>
                <label>{{ context.ano }}</label>
            </div>
        </div>
    </header>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Entrada</th>
                <th>Saída</th>
                <th>Placa</th>
                <th>Veículo</th>
                <th>Visitante</th>
                <th>CPF</th>
                <th>Empresa</th>
                <th>Motivo</th>
                <th>Pessoa Vistada</th>
            </tr>
        </thead>
        <tbody>
            {% for movimento in context.movimentos %} 
                <tr>
                    <td>{{ movimento.dataEnt | dataLimite }} {{ movimento.horaEnt }}</td>
                    <td>{{ movimento.dataSai | dataLimite }} {{ movimento.horaSai }}</td>
                    <td>{% if movimento.placa | stripELength == 0 %}  ---"--- {% else %} {{ movimento.placa }} {% endif %}</td>
                    <td>{% if movimento.veiculo | stripELength == 0 %}  ---"--- {% else %} {{ movimento.veiculo }} {% endif %}</td>
                    <td>{{ movimento.terceiro.nome }}</td>
                    <td>{% if movimento.terceiro.cpf == '00000000000' %} ESTRANGEIRO {% else %} {{ movimento.terceiro.cpf | cpf }} {% endif %}</td>
                    <td>{% if movimento.empresa | stripELength == 0 %} ---"--- {% else %} {{ movimento.empresa }} {% endif %}</td>
                    <td>{{ movimento.motivo }}</td>
                    <td>{{ movimento.pessoaVisit.nome | nome }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <table class="table footer">
        <tr>
            <td colspan="2">Emitido por: {{ session.nome }}</td>
        </tr>
    </table>
    <div class="area-btns">
        <div id="btns">
            <a class="btn btn-danger btn-sm" href="javascript:window.close()">Fechar</a>
            <a class="btn btn-primary btn-sm" href="javascript:window.print()">Imprimir</a>
        </div>
    </div>
</body>
</html>