.hearder {
    background-color: #afafaf;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    font-weight: bold;
}

.hora {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    font-weight: 600;
}

#icon {
    width: 5.5rem;
    padding: 15px;
    filter: grayscale(100%);
}

.table {
    font-size: 13.5px !important;
}

.footer {
    background-color: #afafaf;
    font-weight: bold;
    position: table-footer-group !important;
}

.area-btns {
    justify-content: end;
    width: 100%;
    align-items: center;
    display: flex;
    position: fixed;
    bottom: 0.2rem;
    padding: 10px;
}

#btns {
    justify-content: space-between;
    width: 30%;
    margin: 1rem;
    align-items: center;
    display: flex;
    position: fixed;
    bottom: 0.2rem;
    background-color: #afafaf;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 6px 3px 3px  rgba(0, 0, 0, 0.5);
}

@media print {
    @page {
        margin: 2mm;
    }

    .hearder {
        background-color: #afafaf;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5rem;
    }

    .titulo {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
        font-weight: bold;
    }

    .hora {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
        font-weight: 600;
    }

    #icon {
        width: 5.5rem;
        padding: 15px;
        filter: grayscale(100%);
    }

    .table {
        font-size: 13.5px !important;
    }

    .footer {
        background-color: #afafaf;
        font-weight: bold;
        position: table-footer-group !important;
    }

    #btns {
        display: none;
    }
}